<div class="px-4 py-2">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Home">

        <div class="row w-100">
          <div class="col-4 profile-display-container position-relative">
            <div class="col-12">
              <img class="profile__basic__avatar shadow" src="assets/profile-pic.jpg">
            </div>
            <div class="col-12 fw-bold">
              <h3>Hello, Samuel</h3>
            </div>

            <mat-divider [vertical]="true" class="zm-v-divider"></mat-divider>

          </div>

          <div class="col-4 position-relative">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laboriosam id accusantium tempora dolorem
            libero blanditiis corporis quisquam, quibusdam reprehenderit. Qui necessitatibus quo eius velit odit placeat totam
            explicabo obcaecati!

            <mat-divider [vertical]="true" class="zm-v-divider"></mat-divider>

          </div>

          <div class="col-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laboriosam id accusantium tempora dolorem
            libero blanditiis corporis quisquam, quibusdam reprehenderit. Qui necessitatibus quo eius velit odit placeat totam
            explicabo obcaecati!


          </div>

        </div>

    </mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
</div>

<h1>Jobs:</h1>
{{dataStoreService.jobs| json}}

<h1>Candidates</h1>
{{dataStoreService.candidates| json}}

<h1>Interviews</h1>
{{dataStoreService.interviews| json}}





<div class="container-fluid" [appLoading]="isLoading" [fixedLoader]="true">

    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Ask Questions</mat-label>
                <textarea [readonly]="disabled"  [(ngModel)]='query' rows="10" cols="50" matInput placeholder="Who is Virat Kohli?"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button mat-raised-button (click)="submit()" color="primary">Generate</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Response</mat-label>
                <textarea readonly [(ngModel)]="dummyResp2" matInput placeholder="Chatgpt Response will come here" rows="10" cols="50"></textarea>
            </mat-form-field>
        </div>
    </div>

</div>
