.profile{
  &__basic{
    &__avatar{
    border-radius: 50%;
		height: 10rem;
		width: 10rem;
		cursor: pointer;
    }
  }
}

.profile-display-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 20rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.zm-v-divider{
  height: 70%;
  position: absolute;
  right: 0;
  top: 15%;
}



